{% block content %}
<!doctype html>
    <html>
        
     <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red;
            }
        </style>
        
     </head>
    <body>

        <div>
        <a href="/index">Main Blog Page</a><a href ="/newpost">Add a Post</a>
        </div>
        {% with messages = get_flashed_messages (with_categories = True ) %}
        <ul>
            {% for category, message  in messages %}
                <li>{{message}}</li>

        </ul>

    </body>
    </html>
    {% endblock %}